USE [master]
GO
/****** Object:  Database [Session1]    Script Date: 07.02.2023 13:55:57 ******/
CREATE DATABASE [Session1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Session1', FILENAME = N'/var/opt/mssql/data/Session1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'Session1_log', FILENAME = N'/var/opt/mssql/data/Session1_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Session1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Session1]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 07.02.2023 13:55:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[Id] [int] NOT NULL,
	[LastName] [nvarchar](50) NULL,
	[FirstName] [nvarchar](50) NULL,
	[Patronymic] [nvarchar](50) NULL,
	[Phone] [nvarchar](11) NULL,
	[email] [nvarchar](20) NULL,
 CONSTRAINT [PK_Client] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Deals]    Script Date: 07.02.2023 13:55:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deals](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DemandId] [int] NOT NULL,
	[SupplyId] [int] NOT NULL,
 CONSTRAINT [PK_Deals] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Demands]    Script Date: 07.02.2023 13:55:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Demands](
	[id] [int] IDENTITY(17,1) NOT NULL,
	[AgentId] [int] NOT NULL,
	[ClientId] [int] NOT NULL,
	[ObjectType] [nvarchar](20) NOT NULL,
	[Address_City] [nvarchar](20) NULL,
	[Address_Street] [nvarchar](20) NULL,
	[Address_House] [nvarchar](20) NULL,
	[Address_Number] [nvarchar](20) NULL,
	[MinPrice] [int] NULL,
	[MaxPrice] [int] NULL,
	[MinArea] [float] NULL,
	[MaxArea] [float] NULL,
	[MinRooms] [int] NULL,
	[MaxRooms] [int] NULL,
	[MinFloor] [int] NULL,
	[MaxFloor] [int] NULL,
 CONSTRAINT [PK_Demands] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RealEstateObjects]    Script Date: 07.02.2023 13:55:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RealEstateObjects](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Address_City] [nvarchar](20) NULL,
	[Address_Street] [nvarchar](20) NULL,
	[Address_House] [nvarchar](20) NULL,
	[Address_Number] [nvarchar](20) NULL,
	[Coordinate_latitude] [float] NULL,
	[Coordinate_longitude] [float] NULL,
	[TotalArea] [float] NULL,
	[Rooms] [int] NULL,
	[Floor] [int] NULL,
	[TotalFloors] [int] NULL,
	[ObjectType] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_RealEstateObjects] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Realtor]    Script Date: 07.02.2023 13:55:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Realtor](
	[Id] [int] NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[Patronymic] [nvarchar](50) NOT NULL,
	[DealShare] [float] NULL,
 CONSTRAINT [PK_Realtor] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[supplies]    Script Date: 07.02.2023 13:55:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[supplies](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClientId] [int] NOT NULL,
	[AgentId] [int] NOT NULL,
	[RealEstateId] [int] NOT NULL,
	[Price] [int] NOT NULL,
 CONSTRAINT [PK_supplies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Client] ([Id], [LastName], [FirstName], [Patronymic], [Phone], [email]) VALUES (2, N'Семенов', N'Евгений ', N'Николаевич', N'32-25-55', NULL)
INSERT [dbo].[Client] ([Id], [LastName], [FirstName], [Patronymic], [Phone], [email]) VALUES (3, N'Денисова', N'Олеся', N'Леонидовна', NULL, N'dummy@email.ru')
INSERT [dbo].[Client] ([Id], [LastName], [FirstName], [Patronymic], [Phone], [email]) VALUES (5, N'Сафронов', N'Алексей', N'Вячеславович', NULL, N'client@esoft.tech')
GO
SET IDENTITY_INSERT [dbo].[Deals] ON 

INSERT [dbo].[Deals] ([Id], [DemandId], [SupplyId]) VALUES (1, 1, 1)
INSERT [dbo].[Deals] ([Id], [DemandId], [SupplyId]) VALUES (2, 3, 2)
INSERT [dbo].[Deals] ([Id], [DemandId], [SupplyId]) VALUES (3, 5, 3)
SET IDENTITY_INSERT [dbo].[Deals] OFF
GO
SET IDENTITY_INSERT [dbo].[Demands] ON 

INSERT [dbo].[Demands] ([id], [AgentId], [ClientId], [ObjectType], [Address_City], [Address_Street], [Address_House], [Address_Number], [MinPrice], [MaxPrice], [MinArea], [MaxArea], [MinRooms], [MaxRooms], [MinFloor], [MaxFloor]) VALUES (1, 4, 23, N'Квартира', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Demands] ([id], [AgentId], [ClientId], [ObjectType], [Address_City], [Address_Street], [Address_House], [Address_Number], [MinPrice], [MaxPrice], [MinArea], [MaxArea], [MinRooms], [MaxRooms], [MinFloor], [MaxFloor]) VALUES (2, 4, 16, N'Дом', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Demands] ([id], [AgentId], [ClientId], [ObjectType], [Address_City], [Address_Street], [Address_House], [Address_Number], [MinPrice], [MaxPrice], [MinArea], [MaxArea], [MinRooms], [MaxRooms], [MinFloor], [MaxFloor]) VALUES (3, 19, 10, N'Дом', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Demands] OFF
GO
SET IDENTITY_INSERT [dbo].[RealEstateObjects] ON 

INSERT [dbo].[RealEstateObjects] ([Id], [Address_City], [Address_Street], [Address_House], [Address_Number], [Coordinate_latitude], [Coordinate_longitude], [TotalArea], [Rooms], [Floor], [TotalFloors], [ObjectType]) VALUES (1, N'Тюмень
', N'Энергостроителей
', N'25
', N'12', 0, 0, 41.7, 1, 3, NULL, N'Квартира')
INSERT [dbo].[RealEstateObjects] ([Id], [Address_City], [Address_Street], [Address_House], [Address_Number], [Coordinate_latitude], [Coordinate_longitude], [TotalArea], [Rooms], [Floor], [TotalFloors], [ObjectType]) VALUES (2, N'Тюмень
', N'Елизарова', N'8
', N'44', 0, 0, 105, 3, 5, NULL, N'Квартира')
INSERT [dbo].[RealEstateObjects] ([Id], [Address_City], [Address_Street], [Address_House], [Address_Number], [Coordinate_latitude], [Coordinate_longitude], [TotalArea], [Rooms], [Floor], [TotalFloors], [ObjectType]) VALUES (3, N'Тюмень
', N'Московский тракт
', N'139
', N'6', 0, 0, 62, 3, 2, NULL, N'Квартира')
SET IDENTITY_INSERT [dbo].[RealEstateObjects] OFF
GO
INSERT [dbo].[Realtor] ([Id], [LastName], [FirstName], [Patronymic], [DealShare]) VALUES (1, N'Фахрутдинов', N'Роман', N'Рубинович', 20)
INSERT [dbo].[Realtor] ([Id], [LastName], [FirstName], [Patronymic], [DealShare]) VALUES (4, N'Устинов', N'Максим', N'Алексеевич', 40)
INSERT [dbo].[Realtor] ([Id], [LastName], [FirstName], [Patronymic], [DealShare]) VALUES (7, N'Сысоева', N'Людмила', N'Валентиновна', 45)
GO
SET IDENTITY_INSERT [dbo].[supplies] ON 

INSERT [dbo].[supplies] ([Id], [ClientId], [AgentId], [RealEstateId], [Price]) VALUES (1, 2, 1, 1, 2500000)
INSERT [dbo].[supplies] ([Id], [ClientId], [AgentId], [RealEstateId], [Price]) VALUES (2, 8, 7, 3, 5000000)
INSERT [dbo].[supplies] ([Id], [ClientId], [AgentId], [RealEstateId], [Price]) VALUES (3, 12, 11, 3, 1300000)
SET IDENTITY_INSERT [dbo].[supplies] OFF
GO
ALTER TABLE [dbo].[Deals]  WITH CHECK ADD  CONSTRAINT [FK_Deals_Demands] FOREIGN KEY([DemandId])
REFERENCES [dbo].[Demands] ([id])
GO
ALTER TABLE [dbo].[Deals] CHECK CONSTRAINT [FK_Deals_Demands]
GO
ALTER TABLE [dbo].[Deals]  WITH CHECK ADD  CONSTRAINT [FK_Deals_supplies] FOREIGN KEY([SupplyId])
REFERENCES [dbo].[supplies] ([Id])
GO
ALTER TABLE [dbo].[Deals] CHECK CONSTRAINT [FK_Deals_supplies]
GO
ALTER TABLE [dbo].[Demands]  WITH CHECK ADD  CONSTRAINT [FK_Demands_Client] FOREIGN KEY([ClientId])
REFERENCES [dbo].[Client] ([Id])
GO
ALTER TABLE [dbo].[Demands] CHECK CONSTRAINT [FK_Demands_Client]
GO
ALTER TABLE [dbo].[Demands]  WITH CHECK ADD  CONSTRAINT [FK_Demands_Realtor] FOREIGN KEY([AgentId])
REFERENCES [dbo].[Realtor] ([Id])
GO
ALTER TABLE [dbo].[Demands] CHECK CONSTRAINT [FK_Demands_Realtor]
GO
ALTER TABLE [dbo].[supplies]  WITH CHECK ADD  CONSTRAINT [FK_supplies_Client] FOREIGN KEY([ClientId])
REFERENCES [dbo].[Client] ([Id])
GO
ALTER TABLE [dbo].[supplies] CHECK CONSTRAINT [FK_supplies_Client]
GO
ALTER TABLE [dbo].[supplies]  WITH CHECK ADD  CONSTRAINT [FK_supplies_RealEstateObjects] FOREIGN KEY([RealEstateId])
REFERENCES [dbo].[RealEstateObjects] ([Id])
GO
ALTER TABLE [dbo].[supplies] CHECK CONSTRAINT [FK_supplies_RealEstateObjects]
GO
ALTER TABLE [dbo].[supplies]  WITH CHECK ADD  CONSTRAINT [FK_supplies_Realtor] FOREIGN KEY([AgentId])
REFERENCES [dbo].[Realtor] ([Id])
GO
ALTER TABLE [dbo].[supplies] CHECK CONSTRAINT [FK_supplies_Realtor]
GO
USE [master]
GO
